*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', sans-serif;
}
html,body{
	height:100%;
}
.clear{
	clear: both;
}
.container{
	max-width:1280px;
	margin: 0 auto;
}
header{
	width: 100%;
	padding: 40px 2%;
	height: 90vh;
	min-height: 800px;
	background-size: cover;
	background-position: center;
	background-image:url('../_images/capa.png');
}
header nav{
	float: right;
}
header .logo h2 > a{
	position: relative;
	top: 15px;
	color: white;
	font-size: 32px;
	text-decoration: none;
	font-weight: lighter;	
}
nav.mobile-menu{
	cursor:pointer;
	display: none;
	float: right;
	width: 32px;
	height: 32px;
	background-image:url('../_images/menu.png');
	background-size: 100% 100%;
}
nav.mobile-menu ul{
	display: none;
	position:absolute;
	width: 100%;
	top:80;
	left:0;
	background-color:white;
	text-align: center;
	color:white;
	list-style-type: none;
}
nav.mobile-menu ul li{
	padding: 8px 0;
	transition: 1s;
	border-bottom: 1px solid black;
}
nav.mobile-menu ul li:hover{
	background-color: rgb(210,210,210);
}
nav.mobile-menu ul li a{
	font-weight: bold;
	text-decoration: none;
	color: #472562;
}
header nav.desktop-menu ul{
	list-style-type: none;
}
header nav.desktop-menu li{
	float: left;
	padding: 0 20px;
}
header nav.desktop-menu li a{
	text-decoration: none;
	color: white;
}
header nav.desktop-menu li:hover{
background-color: rgba(210,210,210,0.2);
}

.chamada1{
	max-width:600px;
	float: right;
	margin: 250px 150px;
}
.chamada1 h2{
	font-size: 40px;
	color:white;
	font-weight: normal;
}
.chamada1 p{
	font-size: 15px;
	color:white;
	margin-top;
}
section.sessao1{
	width: 100%;
	background-color: #472562;
	padding: 0px 2%;
	height: 400px;
}
section.sessao1 .container{
	max-width: 1000px;
	height: calc(100% + 30px);
}
.texto-sessao1{
	position: relative;
	left:50px;
	margin-top: 60px;
	padding-left: 25px;
	float: left;
	color: white;
}
.texto-sessao1 h2{
	font-size: 26px;
}
.texto-sessao1 p{
	width: 50%;
	margin-top: 30px;
	font-size: 16px;
}
.texto-sessao1 ul{
	font-size: 16px;
	list-style-position: inside;
}
.texto-sessao1 ul li{
	float: left;
	width:100%;
	margin-top: 9px;
}
.btn1-texto{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	color: white;
	cursor:pointer;
	margin-top: 40px;
	text-align: center;
	line-height: 44px;
	border-radius: 30px;
}
.btn1-texto a{
	text-decoration: none;
	color: white;
}
.device-sessao1{
	float: left;
	width: 50%;
	position:relative;
	top:-30px;
	height: 100%;
	background-image: url('../_images/device.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.sessao2{
	padding-left: 2%;
	padding-right: 2%;
	background-color: white;
	text-align: center;
}
.sessao2 .container{
	max-width: 900px;
}
.sessao2 h2{
	color: #472663;
	font-weight: normal;
}
.sessao2 p{
	margin-top: 30px;
	max-width: 700px;
	display: inline-block;
}
.sessao2 img{
	position:relative;
	top: 73px;
	width: 100%;
	margin-top: 5px;
}
.sessao3{
	width: 100%;
}
.wraper-parte1{
	max-width:500px;
	float:right;
	padding-right:0 30px;
}
.parte1{
	color:white;
	width: 50%;
	float: left;
	padding:140px 0 90px 0;
	background-color:#835FA7;
}
.parte1 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 23px;
}
.parte1 p{
	font-size: 16px;
	color: white;
	line-height: 35px;
	margin-top: 10px;
}
.parte2{
	float:left;
	width: 50%;
	padding:140px 0 90px 0;
	background:white;
}
.titulo-autor{
	float: left;
	width: 100%;
}
.wraper-titulo-autor{
	float:left;
}
.titulo-autor h2{
	color: #232323;
	font-weight: bold;
	font-size: 25px;
	padding-right: 20px;
}
.titulo-autor p{
	font-size: 15px;
	color:#232323;
	font-size: italic;
	font-weight: normal;
}
.titulo-autor .img-autor{
	float: left;
	width: 50px;
	height:50px;
	border-radius: 30px;
	background-position: center;
	background-size: 100% 100%;
}
.scrollEquipe{
	max-width: 600px;
	padding-left: 20px;
	overflow: hidden;
}
.sobre-autor{
	float: left;
	width: 100%;
	padding: 0 20px;
}
.scroll-wraper{
	width: 300%;
}
.texto-autor{
	float: left;
	width: 100%;
	margin-top: 10px;
}
.texto-autor p{
	color:#232323;
	font-size: 15px;
}
.slider-bullets{
	width: 100%;
	float: left;
	padding-left: 40px;
	margin-top: 15px;
}
.slider-bullets span{
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	cursor: pointer;
	background-color: rgb(200,200,200);
	border-radius: 8px;
}
section.sessao4{
	background-color: #472563;
	padding: 100px 0;
}
.form{
	font-family: tahoma;
	float: left;
	width: 50%;
	padding-left: 10px;
}
.form h2{
	color: white;
	font-size: 23px;
	font-weight: normal;
}
.form p{
	margin-top: 10px;
	font-size: 15px;
	padding-right: 10px;
	font-weight: normal;
	color:white;
	max-width: 400px;
}
.form form{
	margin-top: 15px;
}
.form form input[type=text]{
	width: 90%;
	max-width: 480px;
	margin-top: 5px;
	height: 58px;
	margin-top: 8px;
	padding-left: 8px;
	line-height: 58px;
	border:1px solid rgb(200,200,200);
}
.form form input[type=submit]{
	border:0;
	background-color:#FF703D;
	width: 165px;
	height: 44px;
	font-size: 18px;
	color:white;
	cursor:pointer;
	margin-top: 15px;
	border-radius: 30px;
}
form input[type=text]:hover{
	border:2px solid #FF703D;
}
.form form input[type=submit]:hover{
	border: 2px solid white;;
}
.form form textarea{
	width: 90%;
	margin-top: 8px;
	max-width: 480px;
	padding: 15px;
	border:1px solid rgb(200,200,200);
	height: 160px;
}
.map-wraper{
	padding: 0 10px;
	float: left;
	width: 50%;
	color:white;
}
.map-wraper h2{
	font-size: 23;
	font-weight: normal;
}
.map-wraper3{
	margin-top: 10px;
	width: 100%;
	max-width: 480px;
	position:relative;
}
.map-wraper2{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	padding-top: 100%;
	max-width: 480px;
}
.map{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: white;
	box-shadow: 1px 1px 2px 2px black;
}
footer{
	padding: 40px 0;
	background-color: #192123;
	color:white;
} 
footer > .container{
	margin: 0 3%;
}
footer p:nth-of-type(1){
	float: left;
	font-size: 14px;
}
footer p a{
	float: right;
	font-size: 14px;
	color: rgb(255,255,255);
}

/*Configuracoes para diferentes tamanhos de tela*/
@media screen and (max-width: 768px){
	header{
		width: 100%;
		padding: 40px 2%;
		min-height: 90vh;
		height: auto;
	}
	nav.desktop-menu{
		display: none;
	}
	nav.mobile-menu{
		display: block;
	}
	.chamada1{
		max-width:none;
		width: 100%;
		text-align: center;
		float: none;
		margin:100px 0;
	}
	.chamada1 h2{
		font-size: 30px;
		padding:0 10px;
		color:white;
		font-weight: normal;
	}
	.chamada1 p{
		font-size: 15px;
		color:white;
		margin-top;
	}
	section.sessao1{
		padding:40px 2%;
		height: auto;
		text-align: center;
	}
	.texto-sessao1{
		width:100%;
		margin-top: 0;
		padding-left: 0;
		position: static;
		float:none;
		display: inline-block;
	}
	.btn1-texto{
		display: inline-block;
	}

	.texto-sessao1 p{
		display: inline-block;
	}
	.texto-sessao1 ul{
		display: inline-block;
		margin-top: 20px;
	}
	.texto-sessao1 ul li{
		float: none;
		text-align: left;	
	}
	.device-sessao1{
		display:none;
	}
	.sessao2{
		padding: 40px 2%;
	}
	section.sessao4 .container{
		text-align: center;
	}
	.form{
		float:none;
		width: 100%;
	}
	.form p{
		display: inline-block;
	}
	.map-wraper{
		float:none;
		width: 100%;
		padding: 0 2%;
		margin-top: 40px;
	}
	.map-wraper3{
		margin-top: 10px;
		width: 70%;
		padding-top: 85%;
		display: inline-block;
		max-width: none;
		position: relative;
	}
	.map-wraper2{
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		padding-top: 0;
	}
	header .logo h2{
		top:24px;
	}
}
@media screen and (max-width: 580px){
	.parte1{
		width: 100%;
		padding: 40px 2%;
	}
	.parte2{
		width:100%;
		padding: 40px 2%;
	}
	.sessao2 img{
		margin-top: 20px;
		top: 16px;
	}
	.map-wraper{
		float:none;
		width: 100%;
		padding: 0 5%;
		margin-top: 40px;
	}
	.map-wraper3{
		margin-top: 10px;
		width: 70%;
		padding-top: 85%;
		display: inline-block;
		max-width: none;
		position: relative;
	}
	.map-wraper2{
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		padding-top: 0;
	}
	footer{
		text-align: center;
	}
	footer p:nth-of-type(1){
		float: none;
	}
	footer p a{
		float:none;
		margin-top: 8px;
	}
}